body,html{
	margin:8;
	padding: 0;
	background-color: #4F000B;
}
.masonry{
	 width: 100%; 
}
.item{
	height:100px;
	margin-bottom: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color:#FF7F51;	
}
.item:after{
	content: '◔ᴗ◔';
}
.spo{
	height:200px;
	background-color: #CE4257;
}
.spo:after{
	content: 'ಠ_๏';
}
.spe{
	height: 150px;
	background-color: #FFC093;
}
.spe:after{
		content: '♥◡♥';
}


/* -----------------multi column-------------------- */

/* .masonry{
	column-count:5;
	column-gap:10;
}
.item{
	break-inside:avoid;
	box-sizing: border-box;
} */

/* -------------------flexbox -------------------------------*/

/* .masonry{
	display: flex;
	flex-flow: column wrap;
	height: 400px;
}
.item{
	margin-right:10px;
	margin-left:10px;
} */

/* ------------------单独的列容器----------------------------------- */
/* .masonry{
	display: flex;
	flex-direction: row;
}
.column{
	display: flex;
	flex-direction: column;
	width: calc(100%/4);
}
.item{
	margin-right:10px;
	margin-left:10px;
}  */

/* ------------------grid-----失败------------------------------------- */
/* .masonry{
	display: grid;
	grid-template-columns: repeat(3, 1fr);

	grid-auto-flow: row dense;
	grid-gap:10px;
} */


