body{
	margin:0;
	padding:0;
}
ul{
	margin:0;
	padding: 0;
	list-style: none;
}
img{
	vertical-align: top;
}
.show{
	width: 600px;
	height: 350px;
	margin:8px auto;
	border:1px solid #000;
	overflow: hidden;
	position: relative;
}
.lunbo{
	width: 600px;
	height: 350px;
	overflow: hidden;
	position: relative;
}
.box{
	width:500%;
	position: absolute;
	top:0;
	left:0;
}
.box li{
	float: left;
}
.box li img{
	width: 600px;
	height: 350px;
}
.list{
	position: absolute;
	right: 10px;
	bottom: 2px;
	list-style: none;
}
.list li{
	float: left;
	margin-right: 3px;
	width: 20px;
	height:20px;
	border-radius: 50%;
	background-color: rgba(0,0,0,0.5);
	color: #ccc;
	text-align: center;
	line-height: 20px;
	cursor: pointer;
}